body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration:none;
  color: #000;
}
.header {
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px 0;
}
.nav {
  list-style-type:none;
  padding-left:0;
  margin:0;
  display: flex;
}
.nav li {
  margin-left: 20px;
}
.main {
  text-align: center;
  background-color: #999;
  padding: 50px 0;
}
.icon {
  display: block;
  width:50px;
  height: 50px;
  background-color: #ff0;
  border-radius: 100%;
  margin: 0 auto;
}
.box {
  text-align: center;
  display: flex;
  justify-content:space-around;
}
.box-item {
  flex-basis: 30%;
}
.box-services {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-services-item {
  flex-basis: 30%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.page {
  padding: 30px 0;
}
.page-bg {
  background-color: #e4fdf9;
}